<p class='slug'>
  <%= f.label :slug, "Slug/Permalink" %><br />
  <%= f.text_field :slug %>
</p>
<p class='formkey'>
  <%= f.label :formkey, "Form Key" %><br />
  <%= f.text_field :formkey %>
</p>
<p class='thank_you_message'>
  <%= f.label :thank_you_message, "Thank You Message" %><br />
  <%= f.text_field :thank_you_message %>
</p>